.form-container {
    position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgb(238, 238, 238) 0px 4px 4px;
  margin: 0 auto;
  margin-top: 32px;
  width: 880px;
  height: 630px;


}

.create-idea-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

.create-idea-nav-right {
  height: 40px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  .create-idea-collection-dropdown-button {
    height: 40px;
    padding: 0px 14px;
    width: 172px;
    background-color:#EFEFEF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .create-idea-dropdown-collection-name {
      font-weight: 400;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
    }

    i {
      height: 12px;
      width: 12px;
      margin-left: 8px;
      color: #333;
    }
    




  

.collection-dropdown-select-button{

}



  }
  .idea-save-button {
// // width: 268px;
//     border: 0px;
//     height: 40px;
    display: flex;
    // flex: 0 0 auto;
    height: 100%;
    border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
    padding: 0px 14px;
    font-size: 15px;
//     font-weight: bold;
//     cursor: pointer;
    // vertical-align: middle;
    background-color: #e60023;
    color: white;
//     text-align: center;
    letter-spacing: -.4px;
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    align-items: center;
        cursor: pointer;
    
  }
}

.create-idea-form-elements {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 40px;
    height: 510px;
    // background-color: pink;

}

.create-idea-left {
    // background-color: aqua;
    width: 380px;
    height: 510px;
    padding: 20px;
    display: flex;
    justify-content: center;

}
#upload-image-form {
    // display: none;
    position: absolute;
    height: 460px;
    width: 340px;
    // visibility: hidden;
    // left: 100px;
    cursor: pointer;
    // top: 190px;
    // background-color: aquamarine;
 

}
#media-upload-input {
       cursor:pointer;
       height:100%;
       opacity:0;
       position:absolute;
       width:100%;
       left:0;
       top:0;
       font-size:0;
        // display: flex;
        // flex-direction: column-reverse;
    }

.upload-image-container,
.upload-image-container-error {

    padding: 12px;
    width: 340px;
    height: 454px;
    border-radius: 12px;
    // box-sizing: border-box;
}

.upload-image-container {
    background-color: #EFEFEF;
}

.upload-image-container-error {
    background-color: rgba(230, 0, 35, 0.03);
    box-shadow: rgb(230, 0, 35) 0px 0px 0px 1px;
}



  .upload-section {
            display: flex;
            flex-direction: column;
             border: 2px dashed #dadada;
            width:100%;
            height: 100%;
            // color: pink;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            .upload-arrow-content  {
                color: #8e8e8e;
            }
            .upload-error-content {
                color: #e60023;
            }
                
            .upload-arrow-content,
            .upload-error-content {
               
                // height: 32px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
                 font-size: 32px;
            
                .i{
                    height: 100%;
                    width: 100%;
                    font-size: 32px;
                    padding: 8px;
                }
                .instructions {
                    color: #211922;
                }
                .error-instructions{
                    color: #e60023
                }
                .instructions,
                .error-instructions {
                    width: 100%;
                    padding: 0 48px;
                    margin-top: 16px;
                    font-size: 16px;
                    box-sizing: border-box;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }

.create-idea-right {
    padding: 20px;
    width: 460px;
    height: 510px;
    // display: flex;
    // flex-direction: column;
    // justify-items: flex-start;
    // align-items: flex-start;

}

#idea-title-form {
    // background-color: lavender;
    display: flex;
    flex-direction: column;
}

.text-area-bold  {
    height: 43px;
    font-size: 36px;
    caret-color: #333;
    font-weight: bold;
    overflow: auto;
    word-wrap: break-word;
    padding: 0px;
    width: 100%;
    margin-top: 32px;
}

.line {
    box-shadow: 0px 1px 0 0 rgba(142, 142, 142, 0.5);
    width: 100%;
    padding-top: 8px;
    margin-top: 4px;
}

// input {
//     vertical-align: top;
//          border-bottom: 1px solid red;
//      padding-bottom: 8px;
// }

// input:focus:active {
//     border-bottom: 2px solid blue;
//     box-shadow: none;
//     // padding-bottom: 8px;
// }

.form-user-profile-photo {
    height: 40px;
    width: 40px;
    padding: 0 4px;
    // overflow: hidden;
    will-change: transform;
}

.create-form-user-profile-container{
    max-width: 800px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: lightcoral;
    position: relative;
    margin: 0 auto;
    height: 40px;
    align-items: flex-start;
    margin-top: 31px;
    padding-top: 30px;
    .create-form-user-profile-text {
        width: 100%;
        padding: 0 4px;
        display: flex;
        align-items: center;
        height: 40px;
        text-transform: capitalize;
       
        color: rgb(51, 51, 51);
        .create-form-header-username{
              margin: 0 -1px 0 0;
              font-size: 14px;
              font-weight: 600;
        }
    }
}

#idea-description-form {
    margin-top: 24px;
    width: 100%;
   
//   .line {
//       padding: 0px;
//   }


}
.text-area-large {
    height: 21px;
    width: 100%;
    cursor: text;
    font-size: 18px;
    // color: #dadada;
    caret-color: #333;
    // vertical-align: top;

}

#idea-link-form {
    margin-top: 16px;
    width: 100%;
    align-self: baseline;
    vertical-align: baseline;
    
}

.description-link-container {
    // background-color: pink;
    display: flex;
    flex-direction: column;
    // height: %;
    justify-content: space-between;
    position: relative;
     height: 265px;

}