


// .login-signup {
//     background-color: lightpink;
//     min-height: 40px;
//     min-width: 130px;
// }


// /* login/signup link buttons */

// .login-signup a {
//     padding: 10px 14px;
//     border-radius: 8px;
//     background-color:#efefef;
//     font-family: sans-serif;
//     color: darkgrey;
//     cursor: pointer;
//     text-decoration: none;
//     -webkit-appearance: button;
//     color: #333;
//     font-size: 16px;
//     font-weight: 700;
//     letter-spacing: -.4px;
//     // width: 100%;
    
// }

header {
    background-color: yellow;
    height: 100%;
}

header h1 {
    color: lightsalmon;
    text-align: center;
}


.header-group {
    background-color: lightseagreen;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 12px;
    height: 56px;
    flex-direction: row;
    .logo-container {
        padding: 4px;
        display: flex;
        align-items: center;
    }
}

.header-name {
    color: white;
    text-align: center;
}