

.idea-index {

}

.idea-index ul {
    display: flex;

}

.idea-item {
}

.splash {
    // display: flex;
    width: 100vw;
}

.splash-container {
    // display: flex;
    width: 100vw;
    list-style: none;
}

