idea-item {
    cursor: zoom-in;
}

.idea-index {
 padding: 0px 16px;
}

img.idea {
    cursor: zoom-in;
}

splash-image-container {
    cursor: zoom-in;
}

// .idea-index ul {
//     display: flex;

// }

// .idea-item {
// }

// .splash {
//     // display: flex;
//     width: 100vw;
// }

// .splash-container {
//     // display: flex;
//     width: 100vw;
//     list-style: none;
// }

