
// .background-grid{
//     height: 100%;
//     width: 100%;
// }






.modal-background{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgb(238, 238, 238) 300px, rgb(255,255,255) 100%) ;
  // z-index: 10;
  // overflow: hidden;
  display: flex;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  // width: 100%;
  // position: fixed;
  // // flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.modal-child {

  height: inherit;
  max-width: 628px;
  display: block;
  border-radius: 8px;
  margin: 32px auto;
}

.back-button {
    top: 65px;
    position: fixed;
    z-index: 3;
    width: 60px;
    margin-left: 24px;
    margin-top: 20px;
    padding: 4px;
    box-sizing: border-box;
  i.fas.fa-arrow-left {
    height: 50px;
    width: 50px;
    text-align: center;
  }
   i.fas.fa-arrow-left::before {
    font-size: 20px;
    color: rgb(51,51,51);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

 i.fas.fa-arrow-left:hover {
  height: 50px;
  width: 50px;
  display: flex;
  padding: 4px;
  background-color:#dadada;
  border-radius: 50%;
  z-index: 3;
  // right: -17px;
  // top: 17px;
}

.close-button {
    top: 65px;
    right: 0px;
    position: fixed;
    z-index: 3;

    margin-right: 16px;
    margin-top: 16px;

    padding: 2px;
    box-sizing: border-box;
  i.fas.fa-times {
    height:32px;
    width: 32px;
    text-align: center;
    text-size-adjust: 100%;
  }
   i.fas.fa-times::before {
    font-size: 20px;
    color: rgb(142,142,142);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

 i.fas.fa-arrow-left:hover {
  height: 50px;
  width: 50px;
  display: flex;
  padding: 4px;
  background-color:#dadada;
  border-radius: 50%;
  z-index: 3;
  // right: -17px;
  // top: 17px;
}

.idea-show-container {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 24px 24px;
  box-shadow: rgb(238, 238, 238) 0px 4px 4px;
  margin-top: 32px;
}

.idea-show-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 16px 24px;
  top: 65px;
  position: sticky;
  background-color: white;
  border-radius: 8px;
  // wiil-change: transform;

  

}

.idea-show-nav-left {
  height: 40px;
  width: 40px;
  flex-direction: row;
  color: rgb(142, 142, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  i,
  i::before {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.idea-show-nav-left:hover {
  height: 40px;
  width: 40px;
  display: flex;
  padding: 4px;
  background-color: rgb(239, 239, 239);
  border-radius: 100%;
}

.idea-show-nav-right {
  height: 40px;
  display: flex;
  flex-direction: row;

//   justify-content: flex-end;
//   // height: 72px;

//   padding: 16px 24px;
//   // width: 344px;
  .board-dropdown-button {
    height: 40px;
//     box-sizing: border-box;
    padding: 0px 16px;
    background-color: rgb(239, 239, 239);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;

//     justify-content: flex-start;

    // width: 100%;
//     margin-left: 4px;
  
    .dropdown-board-name {
      font-weight: 400;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i {
      height: 12px;
      width: 12px;
      margin-left: 8px;
      color: #333;
    }

    

  }
  .idea-save-button {
// // width: 268px;
//     border: 0px;
//     height: 40px;
    display: flex;
    // flex: 0 0 auto;
    height: 100%;
    border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
    padding: 0px 14px;
    font-size: 15px;
//     font-weight: bold;
//     cursor: pointer;
    // vertical-align: middle;
    background-color: #e60023;
    color: white;
//     text-align: center;
    letter-spacing: -.4px;
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    
  }
}



.idea-show-elements {
  // display: flex;
  // flex-direction: row;
  // max-height: 100%;
  // width: 100%;
  // overflow: hidden;
   padding-left: 24px;
  padding-right: 24px;

  // position: absolute;

}


.idea-show-image-container {
  // background-color: #333;
//   padding: 0px 12px 12px 12px;
//   max-width: 496px;
//   min-width: 344px;
  // border-radius: 8px;
//   height: 100%;
//   // display: flex;
//   // flex-direction: row;
//   // align-content: flex-start;
//   margin-bottom: 24px;
//   margin-right: 24px;
//   // height: 100%;
//    max-height: 744px;
//   object-fit: contain;
//   object-position: 50%  50%;
//   object-position: 0 0;
//   margin-bottom: 24px;
//   overflow: hidden;
 
  
//   // max-width: 496px;

}

.idea-show-image {
//    object-fit: cover;
//    object-position: 50%  50%;
//   // height: initial;
    border-radius: 8px;
    // height: 100%;

//   // box-sizing: border-box;
//   position: relative;
//   max-height:744px;
//   // // max-width: 496px;
//   width:  100%;
  height: 100%;
//   // overflow: hidden;
//   // box-sizing: border-box;
}


.idea-show-info-container {
  display: flex;
  flex-direction: row;
    margin-top: 24px;

}

#profile-photo {

}


#profile-photo img {
  width: 40px;
  height: 40px;
  padding: 4px;
  margin: auto;
}

.idea-show-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: top;

}



.idea-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4px;
  align-items: center;

}

.follow-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4px;
  padding-left: 4px;
  // align-items: center;

}

#follow-user-info   {
  font-size: 16px;
  word-wrap: break-word;
  color: #333;
  padding-left: 4px;
  a {
    font-weight: bold;
  }

}

#user-info   {
  font-size: 16px;
  word-wrap: break-word;
  color: #333;
  a {
    font-weight: bold;
  }

}

.follow-button  {
//     display: flex;
//     // flex: 0 0 auto;
    min-height: 40px;
   border-radius: 8px;
    padding: 10px 14px;

    box-sizing: border-box;

// //     cursor: pointer;
//     // vertical-align: middle;
    background-color: #e60023;
    color: white;
    text-align: center;
    button {
      letter-spacing: -.4px;
      font-size: 16px;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;

    }
//     align-items: center;

}



li.num-resaves {
  display: flex;
  flex-direction: row;
  align-items: top;
 
  
  i.fas.fa-asterisk{
    margin: 0;
  }
  i.fas.fa-asterisk::before {
    color: #333;
    margin-left: 20px;
    margin-right: 3px;
    height: 12px;
    width: 12px;
  
  }

   p.num {
    font-size: 12px;
    color: #333;
    margin: 0;
  }
}

.description-box {
  font-size: 16px;
  font-weight: 400;
}


// #user-info {
//   // text-align: left;
//   // display: flex;
//   // flex-direction: row;
//   // align-content: center;
//   padding: 4px 0px;
//   font-size: 12px;
//   i {
//     font-size: 12px;
//     color: black;
//     width: 12px;
//     height: 12px;
//   }
// }

p.idea-show-username {
  margin: 0px;

}

// .idea-show-username{
//   margin: 0px;
// }

// .follow-count {
//   margin: 0px;
// }
// #follow-button {

// }

// @media (min-width: 0) and (max-width: 750px) {
//   .idea-show-elements {
//     flex-direction: column;
//   }
// }